.main {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.row {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(88, 87, 87);
}

.col {
  width: 14%;
  background-color: rgb(150, 150, 150);
  border: 1px solid black;
  overflow: hidden;
  text-align: center;
  padding-top: 2%;
  font-size: 40px;
}

.col-16, .col-17, .col-26, .col-27,
.col-36, .col-37, .col-46, .col-47,
.col-56, .col-57 {
  background-color: rgb(240, 165, 165);
}

.current_day {
  background-color: rgb(120, 230, 166);
}

.calendar_title {
  text-align: center;
  color: #0717ff;
}

.arrow {
  width: 30px;
  height: 30px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  position: absolute;
  top: 47%;
  cursor: pointer;
}

.arrow_next {
  right: -30px;
  transform: rotate(135deg);
}

.arrow_prev {
  left: -30px;
  transform: rotate(-45deg);
}